<!DOCTYPE html>
<html>
<head>
	<title>Mobile Banking</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div class="container">
	<div class="row justify-content-center mt-5">
		<div class="col-4">
			<form method="post" action='/'>
				<div class="row mb-3 justify-content-center">
					<div class="col">
						<input type="text" name="account_no" required class="form-control-lg" placeholder="account number here">
					</div>
				</div>
				<div class="row mb-3">
					<div class="col">
						<input type="text" name="PIN_no" required class="form-control-lg" i placeholder="PIN number here">
					</div>
				</div>
				<button type="submit" class="btn btn-danger">Login</button>
			</form>
		</div>
	</div>

</body>
</html>